@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
}

nav{
    position: sticky;
    box-shadow: 4px 3px 5px black;
    padding: 0 20px;
    border-radius: 30px;
    top: 0;
    margin-bottom: 32px;
    background: white;
   

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
   
    

}

.logo_containor img{
    
}

.icon_containor{
   font-size: 25px;
   letter-spacing: 8px;
    
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
   
}
.text h1{
    margin: 0 auto;
    max-width: 600px;
    font-size: 80px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    
}
.text p{
    
    max-width: 600px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.discount{
    background-color: rgb(22, 174, 22);
    color: white;
    max-width: 250px;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
}
.discount:hover{
    cursor: text;
}


button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
.button button{
    
    background: #ffc066;
    align-self: flex-start;
    font-size: 15px;
    margin-top: 20px;
}


.feature{

  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.F{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    max-width: 450px;
  }

  .F img{
    width: 72px;
  }

  .F:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  }


  .menu{
    max-width: 150px;
    margin: 0 auto;
  }
  
  .menu button{
    background-color: rgb(22, 174, 22);
    color: white;
    width: 150px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 0;
    
    
    
  }

  .txt3 {

    line-height: 200px;

    max-width: 260px;
    margin: 0 auto;
    font-size: 25px;

  }

  /* .grid{
    display: grid;

  } */

  .grid {
    display: grid;
    width: 900px;
    margin: 0 auto;
    gap: 10px;
    grid-template-areas:
      "I1 I1 I2 I3"
      "I1 I1 I2 I7"
      "I4 I5 I6 I7";
  }

  .gird-image {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
  }
  .gird-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    cursor:pointer;
  }
  
  .item1 {
    grid-area: I1;
  }
  .item2 {
    grid-area: I2;
  }
  .item3 {
    grid-area: I3;
  }
  .item4 {
    grid-area: I4;
  }
  .item5 {
    grid-area: I5;
  }
  .item6 {
    grid-area: I6;
  }
  .item7 {
    grid-area: I7;
  }

  .footer{
    background-color: beige;
    height: 250px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
  }

  h3{
    color: gray;
    font-size: 23px;
    margin-bottom: 15px;
  }
  
 ul{
    list-style: none;
    line-height: 30px;
  }

  .follow{
    margin-top: 15px;
}

  
 